# FOR LOOP <hr style="border:2.5px solid rgba(31, 213, 70, 1)"></hr>

In [4]:
fruits = ['banana', 'apple', 'orange']

for fruits in fruits:
        print(f'I like {fruits}')

I like banana
I like apple
I like orange

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

# Iliterating over a Dictionary

In [10]:
user = {"name": "Alice", "role": "Engineer", "id": 42}

for key in user:
    print(key)

for val in user.values():
    print(val)

name
role
id
Alice
Engineer
42